<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.js"></script>
    <title>JK's BOOTH ROOM</title>
    <style>
        body{

            background-color: rgba(189, 189, 189, 0.17);

        }
        hr{
            border :  solid 1px black;
        }

        .main_banner{
            padding-top: 30px;
            border-radius : 10px;
            margin-bottom: 30px;
            color: inherit;


        }
        .main_booth_banner{
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 30px;
            color: inherit;
            background-color : white;
        }

        img {


            width : 100%;
            height : 100%;
            border-radius: 5px;


        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;

        }
    </style>
</head>
<body>




<div class="container">
    <div class="main_banner">
        <a href="/" class="btn btn-align-left" style="color : black">
            <span class="glyphicon glyphicon-home"></span>
        </a>
        <a href="/categoryselect"><h1 style="color : black; text-align: center">JK's BOOTH</h1></a>





        <div class="row">
        <hr>
        </div>
        <div class="row">
        <%category25.forEach(function(category25){%>
            <%if(category25.photoName){
               var foo = category25.photoName.split("/");
                for(var i = 1;i<foo.length;i++){
            %>
        <div class="col-md-4" style="height : 390px;margin-bottom:30px">

            <img style="object-fit : cover;" src="photo/<%=foo[i]%>" data-toggle="modal" data-target="#myModal<%=foo[i].split(".")[0]%>">

            <!-- image_view_Modal -->
            <div class="modal fade" id="myModal<%=foo[i].split(".")[0]%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #F0F0F0">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true" >&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><%=category25.name%></h4>
                        </div>
                        <div class="modal-body">
                            <%if(category25.photoName){%>
                            <img  src="photo/<%=foo[i]%>">
                            <%}%>

                            <h5><%=category25.content%></h5>
                        </div>
                        <div class="modal-footer" style="background-color: #F0F0F0">

<%if(isLogin && JSON.stringify(userData) === '{"userID":"fb_1896746140650029","userPassword":"facebook_login","displayName":"최동호"}' ||
                 JSON.stringify(userData) === '{"userID":"fb_817220205102759","userPassword":"facebook_login","displayName":"이재권"}'){%>                            <a href="/category25/delete/<%=category25.id%>" type="button" class="btn btn-primary">삭제하기</a>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>









        </div>
            <%}}%>
        <%});%>
        </div>



    </div>


</div>

<div class="container">
<div class="row">



        <hr>

        <div class="col-xs-4">
<%if(isLogin && JSON.stringify(userData) === '{"userID":"fb_1896746140650029","userPassword":"facebook_login","displayName":"최동호"}' ||
                 JSON.stringify(userData) === '{"userID":"fb_817220205102759","userPassword":"facebook_login","displayName":"이재권"}'){%>
<a href="/category25/category_delete/<%=category.id%>"class="btn btn-danger" onclick="return confirm('삭제 하시겠습니까?')">카테고리 삭제</a>
<%}%>
        </div>
        <div class="col-xs-4">
            <h5 style="text-align: center; color : black">Copyright &copy; 2017 JK All Rights Reserved</h5>
            <h5 style="text-align: center; color : black">Made by Dongho Choi</h5>
        </div>
    <%if(isLogin && JSON.stringify(userData) === '{"userID":"fb_1896746140650029","userPassword":"facebook_login","displayName":"최동호"}' ||
                 JSON.stringify(userData) === '{"userID":"fb_817220205102759","userPassword":"facebook_login","displayName":"이재권"}'){%>
        <div class="col-xs-4">
            <div class="pull-right">
            <a href="#" class="btn btn-align-left" style="color : black" data-toggle="modal" data-target="#upload_image_modal">
                <span class="glyphicon glyphicon-circle-arrow-up" style="font-size : 30px;"></span>
            </a>

            <a href="#" class="btn btn-align-left" style="color : black">
                <span class="glyphicon glyphicon-music" style="font-size : 30px;"></span>
            </a>
            <a href="/logout" class="btn btn-align-left" style="color : black">
                <span class="glyphicon glyphicon-log-out" style="font-size : 30px;"></span>
            </a>
            </div>
        </div>
    <%} else if(isLogin){%>
        <div class="col-xs-4">
            <div class="pull-right">
            <a href="/logout" class="btn btn-align-left" style="color : black">
                <span class="glyphicon glyphicon-log-out" style="font-size : 30px;"></span>
            </a>
            </div>
        </div>
<%}%>
</div>






</div>










<!-- upload_Modal -->
<div class="modal fade" id="upload_image_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F0F0F0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true" >&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">게시물 작성</h4>
            </div>
            <div class="modal-body">

                <form id="upload_form" action="" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" class="form-control" placeholder="제목">

                    <img name="blah" id="blah" src="/img/white.jpg" alt="your image" style="width : 100%; height : 100%;"/>
                    <span class="btn btn-default btn-lg btn-file">
                    사진 찾기 <input type="file" id="imgInp" name="photo" multiple>
                </span>
                    <br>
                    <br>
                    <textarea id="summernote" name="content"></textarea>
                    <input type="submit" class="btn btn-default" value="올리기">
                </form>
            </div>
            <div class="modal-footer" style="background-color: #F0F0F0">


            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#summernote').summernote();
    });


    $(function() {
        $("#imgInp").on('change', function(){
            readURL(this);
        });
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }





</script>


</body>
</html>
